<nav id="navbar">

    <ul>
        <li class="logo"><img src="/images/Hell's_Gate.jpg" alt="hells gate"></li>
        <li>
            <h1>The Blue Hell</h1>
        </li>
        <li><a href="/">INDEX</a></li>
        <li><a href="/lore">LORE</a></li>
        <li><a href="/contact">CONTACTO</a></li>
    </ul>

</nav>