<nav id="navbar">

    <ul>
        <li class="image_holder"><a href="/"><img class="logo" src="/images/Hell's_Gate.jpg" alt="hells gate"></a></li>
        <li>
            <h2><a href="/">The Blue Hell</a></h2>
        </li>
        <li class="index"><a href="/">INDEX</a></li>
        <li class="index"><a href="/lore">LORE</a></li>
        <li class="index"><a href="/contact">CONTACTO</a></li>
    </ul>

</nav>