<html>
    <head>
        <title>Aca va el nombre de la pagina</title>
    </head>

    <body>
        esto es <strong>bold</strong><br>
        esto es <em>italic</em>
        <a href="https://www.youtube.com/watch?v=3JluqTojuME&t=677s&ab_channel=LearnCode.academy">tutorial de youtube</a>
    
    <ul> <!--esto es una lista de puntos-->
        <li>primero</li>
        <li>segundo</li>
        <li><a href="https://www.google.com/">google</a></li>
    </ul><!--esto es una lista de numeros-->
    <ol>
        <li>primero</li>
        <li>segundo</li>
    </ol>
    <p><!--parrafo-->
        balblablablalblblalblalbla
        <li>kasjflasjf</li>
        <li>kasjflasjf</li>
        <li>kasjflasjf</li>
        <li>kasjflasjf</li>

    </p>

    <h1>title</h1>
</body>

</html>
<!--margin añade espacio al rededor de la seccion, padding agranda la seccion-->