<% layout('./layouts/boilerplate') %>

    <div id="users">
        <% for (let user in currentUsers) { %>
            <div class="user">
                
                <h3 id="name" class="<%= currentUsers[user].roleNames %>"><%= currentUsers[user].userNames %></h3>
                <div class="line"></div>
                <div class="dropdown_content">
                </div>
            </div>
                
            <% } %>            
    </div>