<% layout('./layouts/boilerplate') %>

    <div id="users">
        <% for (let user in currentUsers) { %>
            <div class="user">
                <%= currentUsers[user].description %>
                <p>Is admin: <%= currentUsers[user].isAdmin %></p>
                <p>Is gay: <%= currentUsers[user].gei %></p>
                <p>Is humble: <%= currentUsers[user].humble %></p>

            </div>
            <% } %>
    </div>