<% layout('./layouts/boilerplate') %>
    <header>
    </header>
<section class="joining">   
    <div>
        <img id="serverInvite" src="./images/Devil`s_deal.png" alt="">
        <div id="invite">
            <p>Crees tener las pelotas para soportar el daño psicologico del infierno? <br> Okey then...</p>
            <a href="https://discord.gg/MMGscZJahA">JOIN THE HELL</a>
        </div>
    </div>
</section>