<% layout('./layouts/boilerplate') %>
    <header>
        <link data-default-icon="./images/" rel="icon" sizes="192x192" href="https://static.cdninstagram.com/rsrc.php/v3/yt/r/30PrGfR3xhB.png">
    </header>
<section class="joining">   
    <div>
        <img id="serverInvite" src="./images/Devil`s_deal.png" alt="">
        <div id="invite">
            <p>Crees tener las pelotas para soportar el daño psicologico del infierno? <br> Okey then...</p>
            <button id="clickMe">test</button>
            <a href="https://discord.gg/MMGscZJahA" target="_blank">JOIN THE HELL</a>
        </div>
    </div>
</section>
<script src="../index.js">
    
</script>