<% layout('./layouts/boilerplate') %>
    <header>
    </header>
    <section class="center">
        <p> ofrece la mejor calidad y rendimiento del mercado, ningun otro producto va a</p>
        <p>ProductoX ofrece la mejor calidad y rendimiento del mercado, ningun otro producto va a</p>
        <p>ProductoX ofrece la mejor calidad y rendimiento del mercado, ningun otro producto va a</p>
    </section>

    <section class="center">
        <li><img src="../public/images/logo.png" alt="telescope"></li>
        <li><img src="../public/images/logo.png" alt="telescope"></li>
        <li><img src="../public/images/logo.png" alt="telescope"></li>
    </section>