<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
    <!--<h1>Welcome</h1>
    <h2>to the webpage</h2>
    <p>textextextextextextextextex</p>
    <button>css basic tutorial</button>-->

    <header>
       
        <nav>
            <ul>
                <li><h1>LOCATION</h1></li>
                <li><a href="index.html">home</a></li>
                <li><a href="location.html">location</a></li>
                <li><a href="contact.html">contact</a></li>
            </ul>
        </nav>
        
    </header>
    <section class="center">
        <p>ProductoX ofrece la mejor calidad y rendimiento del mercado, ningun otro producto va a</p>
         <p>ProductoX ofrece la mejor calidad y rendimiento del mercado, ningun otro producto va a</p>
         <p>ProductoX ofrece la mejor calidad y rendimiento del mercado, ningun otro producto va a</p>
     </section>

    <section class="center">
         <li><img src="../public/images/logo.png" alt="telescope"></li>
            <li><img src="../public/images/logo.png" alt="telescope"></li>
            <li><img src="../public/images/logo.png" alt="telescope"></li>
    </section>
</body>
</html>
