<% layout('./layouts/boilerplate') %>

<div class="History">
    <div>
        <h1>Historia Antigua 
    </h1>
    <div class="line"></div>
    <p>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend congue metus, in eleifend urna pulvinar in. Sed varius consectetur interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla id urna ante. Suspendisse dictum urna lectus, ac rutrum turpis consequat et. Praesent odio justo, lobortis non mi id, sodales consequat mauris. Cras ac dolor in neque accumsan vehicula. In a odio lacus. Maecenas laoreet accumsan turpis, feugiat interdum nunc luctus ut.
        
        Donec nisi orci, fermentum sit amet justo id, tristique viverra neque. Donec ut porttitor nibh. Sed tincidunt quis metus eget egestas. Suspendisse cursus aliquet felis vitae luctus. Nulla venenatis congue ullamcorper. Integer finibus vel felis sit amet luctus. Aenean consectetur, velit vitae lobortis consequat, leo enim venenatis ante, at aliquet lacus nisl id diam. Morbi ut mi sed neque congue consectetur ut commodo libero. Sed vel porta ante. Phasellus pretium tellus a varius suscipit. Mauris lacinia dui est, vitae tempus augue faucibus non. Etiam fermentum eros lobortis elit laoreet porta. Donec vel purus in diam facilisis tincidunt in non enim. Nunc maximus diam vehicula accumsan eleifend. Cras justo mi, porta id pellentesque sed, accumsan non nibh.
        
        Praesent vestibulum placerat ligula dictum condimentum. Suspendisse facilisis leo in ante rhoncus, et placerat risus vestibulum. </p>
    </div>
    
    
</div>

<div id="roles">
    <% for (let rol in roles) { %>
        <div class="role <%= roles[rol].name.charAt(0).toUpperCase() + roles[rol].name.slice(1) %>">
            <h3 class="roleName"><%= roles[rol].name.charAt(0).toUpperCase() + roles[rol].name.slice(1) %></h3>
            <div class="line"></div>
            <li class="smol"><%= roles[rol].description %></li>

            <% if (roles[rol].isAdmin) { %> 
           <li>Tiene permisos de administrador</li>
           <% } else { %>
            <li>No tiene permisos de administrador</li>
            <% } %> 

            <li>Es de tipo: <%= roles[rol].isType %></li>

        </div>
        <% } %>
</div>