<% layout('./layouts/boilerplate') %>
<div id="roles">
    <% for (let rol in roles) { %>
        <div class="role <%= roles[rol].name.charAt(0).toUpperCase() + roles[rol].name.slice(1) %>">
            <h3 class="roleName"><%= roles[rol].name.charAt(0).toUpperCase() + roles[rol].name.slice(1) %></h3>
            <div class="line"></div>
            <li class="smol"><%= roles[rol].description %></li>

            <% if (roles[rol].isAdmin) { %> 
           <li>Tiene permisos de administrador</li>
           <% } else { %>
            <li>No tiene permisos de administrador</li>
            <% } %> 

            <li>Es de tipo: <%= roles[rol].isType %></li>

        </div>
        <% } %>
</div>