@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@font-face {
    font-family: blood;
    src: url('../fonts/Bloodthirsty-3j0p.ttf');
}
:root {
    --gods: rgb(133, 21, 185);
    --apostol: rgb(150, 83, 252);
    --winged: rgb(122, 201, 253);
    --redskin: rgb(165, 23, 23);
    --scaly: rgb(54, 131, 47);
    --sinner: rgb(175, 103, 103);
    --heretic: rgb(255, 255, 255);
    --rebel: rgb(255, 237, 0);
}

.Gods {
    color: var(--gods);
}

.Apostol {
    color: var(--apostol);
}

.Winged {
    color: var(--winged);
}

.Redskin {
    color: var(--redskin);
}

.Scaly {
    color: var(--scaly);
}

.Sinner {
    color: var(--sinner);
}

.Heretic {
    color: var(--heretic);
}

.Rebel {
    color: var(--rebel);
}

body {
    font-family: "Oswald";
    background-color: #3b3e45;
    margin: 0px;
    padding: 0px;
}

header {
    background: black;
    color: white;
}

#serverInvite {
    position: absolute;
    width: 25.955882352941vw;
    height: 38.602941176471vw;
    top: 3.5vw;
    left: 31.617647058824vw;
    z-index: 1;
}

#invite {
    color: rgb(32, 32, 32);
    position: absolute;
    top: 10.294117647059vw;
    left: 36.764705882353vw;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#invite p {
    width: 14.705882352941vw;
    text-align: center;
    margin:0;
    margin-top: 2.205882352941vw;
}

h2, h2 a {
    color: #13139b;
    margin: 0;
    width: 9.558823529412vw;
    height: 1.911764705882vw;
    padding: 0px;
    display: inline-block;
    text-decoration-line: none;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 0.441176470588vw 0 0.441176470588vw 2.941176470588vw;
    margin: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 1.470588235294vw;
    text-decoration-line: none;
}

.center {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: white;
    margin: 0;
    padding: 3.676470588235vw 0 3.676470588235vw 0;
}

header a {
    text-decoration: none;
    color: white;
}

p {
    width: 25%;
}

#footer {
    width: 100%;
    list-style-type: none;
    background-color: black;
    color: darkslategray;
    display: flex;
    justify-content: space-around;
    padding: 0.735294117647vw 0 0.735294117647vw;
    bottom: 0;
    position: fixed;
}

#footer a img {
    display: inline-block;
    width: 2.941176470588vw;
    height: 2.941176470588vw;
}

#navbar {
    background-image: linear-gradient(to bottom , black,black,transparent);
    position: fixed;
    top: 0;
    width: 100%;
}


#navbar .index a {
    color: white;
    display: inline;
    margin-right: 1.470588235294vw;
    text-decoration-line: none;
}

#users, #roles {

    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 5.882352941176vw;
}

.user, .role {
    width: 28%;
    height: 29.411764705882vw;
    margin: 5.882352941176vw 0 1.470588235294vw;
    background-color: #2f3136;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    border-radius: 0.735294117647vw;
    box-shadow: 0 0 0.294117647059vw 0.147058823529vw rgb(32, 32, 32);

}

.user li, .role li {
    margin: 0.735294117647vw;
    display: flex;
    justify-content: space-around; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 0.147058823529vw 0.367647058824vw 0.147058823529vw;
    font-size: 20px;

}

.line {
    height: 0.147058823529vw;
    width: 90%;
    margin: 0 auto 1.102941176471vw auto;
    background-color: gray;
}

#name, .roleName {
    text-align: center;
    margin: 0;
    font-size: 200%;
    height: 3.676470588235vw;
    text-shadow: 0.147058823529vw 0.147058823529vw 0.735294117647vw #000;
}

.logo {
    display: inline;
    margin: 0 auto;
    width: 3.308823529412vw;
}

.image_holder {
    display: flex;
    justify-content: space-around;
    width: 2.941176470588vw;
    height: 2.941176470588vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.joining {
    display: flex;
    justify-content: space-around;
    color: white;
}

.joining div div a{
    color: #374eca;
    margin-top: 1.470588235294vw;
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    text-decoration-line: none;
    font-family: "blood";
}

.joining nav a:hover {
    color: white;
    transition-duration: 1s;
}

.dropdown_content {
    height: 20.588235294118vw;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    text-align: center;
}

.smol {
    height: 8.823529411765vw;
}