@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

:root {
    --gods: rgb(98, 9, 139);
    --apostol: rgb(150, 83, 252);
    --winged: rgb(122, 201, 253);
    --redskin: rgb(165, 23, 23);
    --scaly: rgb(54, 131, 47);
    --sinner: rgb(175, 103, 103);
    --heretic: rgb(255, 255, 255);
    --rebel: rgb(255, 237, 0);
}

.Gods {
    color: var(--gods);
}

.Apostol {
    color: var(--apostol);
}

.Winged {
    color: var(--winged);
}

.Redskin {
    color: var(--redskin);
}

.Scaly {
    color: var(--scaly);
}

.Sinner {
    color: var(--sinner);
}

.Heretic {
    color: var(--heretic);
}

.Rebel {
    color: var(--rebel);
}

body {
    font-family: "Oswald";
    background-color: #3b3e45;
    margin: 0px;
    padding: 0px;
}

header {
    background: black;
    color: white;
}

#serverInvite {
    position: absolute;
    width: 353px;
    top: 50px;
    left: 430px;
    z-index: 1;
}

#invite {
    color: rgb(32, 32, 32);
    position: absolute;
    top: 140px;
    left: 500px;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#invite p {
    width: 200px;
    text-align: center;
}

h2, h2 a {
    color: #13139b;
    margin: 0;
    width: 130px;
    height: 26px;
    padding: 0px;
    display: inline-block;
    text-decoration-line: none;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 6px 0 6px 40px;
    margin: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
    text-decoration-line: none;
}

.center {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: white;
    margin: 0;
    padding: 50px 0 50px 0;
}

header a {
    text-decoration: none;
    color: white;
}

p {
    width: 25%;
}

#footer {
    width: 100%;
    list-style-type: none;
    background-color: black;
    color: darkslategray;
    display: flex;
    justify-content: space-around;
    padding: 10px 0 10px;
    bottom: 0;
    position: fixed;
}

#footer a img {
    display: inline-block;
    width: 40px;
    height: 40px;
}

#navbar {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}


#navbar .index a {
    color: white;
    display: inline;
    margin-right: 20px;
    text-decoration-line: none;
}

#users, #roles {

    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.user, .role {
    width: 28%;
    height: 400px;
    margin: 80px 0 20px;
    background-color: #2f3136;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgb(32, 32, 32);

}

.user li, .role li {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 2px 5px 2px;
    font-size: 20px;

}

.line {
    height: 2px;
    width: 90%;
    margin: 10px auto 10px auto;
    background-color: gray;
}

#name, .roleName {
    text-align: center;
    margin: 10px;
    font-size: 200%;
    height: 2px;
}

.logo {
    display: inline;
    margin: 0 auto;
    width: 45px;
}

.image_holder {
    display: flex;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.joining {
    display: flex;
    justify-content: space-around;
    color: white;
}

.joining nav a {
    color: #374eca;
    border: 0;
    padding: 0;
    width: 150px;
    height: 30px;
    margin-top: 20px;
    font-size: 20px;
    font-family: "Oswald";
    display: flex;
    justify-content: center;
    background-color: #2f3136;
    box-shadow: 0 0 4px 2px rgb(32, 32, 32);
    text-decoration-line: none;
    border-radius: 40px;
}

.joining nav a:hover {
    color: white;
    transition-duration: 1s;
}

.dropdown_content {
    height: 280px;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    text-align: center;
}

.smol {
    height: 120px;
}